rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // ACESSO PÚBLICO (Removido login conforme solicitado)
    // ATENÇÃO: Qualquer pessoa com acesso à URL pode ler e escrever dados.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
